.weather-item {
	//background-color: #5757ff;
	background: -webkit-linear-gradient(180deg, rgb(152, 150, 161) 2%, rgb(82, 106, 182));
	background: -moz-linear-gradient(180deg, rgb(152, 150, 161) 2%, rgb(82, 106, 182));
	background: linear-gradient(180deg, rgb(152, 150, 161) 2%, rgb(82, 106, 182));
	color: #fff;
	width: 12%;
	border-radius: 2px;
}